@using BootcampManagementMVC.BL.Dtos.BootcampGroups
@model IEnumerable<BootcampGroupAndTotalMemberDto>

@{
    ViewData["Title"] = "Bootcamp";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2 style="text-align: center;">Mitrais Bootcamp</h2>
        <table class="table">
            <thead>
                <tr class="text-left">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th>@Html.DisplayNameFor(model => model.CountMember)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.CountMember)
                        </td>
                        <td class="align-middle">
                            @if (item.IsActive == true)
                            {
                                <label class="text-success">Active</label>
                            }
                            else
                            {
                                <label class="text-danger">Inactive</label>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>